---
---

<section class="flex flex-col md:flex-row items-center gap-8 py-16">
    <!-- Misi贸n -->
    <div class="flex flex-col items-center text-center">
      <i class="fas fa-bullseye text-4xl mb-4 text-main-blue-dark"></i>
      <h3 class="text-2xl mb-2">Misi贸n</h3>
      <p class="text-base leading-relaxed text-gray-700">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce varius faucibus massa sollicitudin amet augue.
      </p>
    </div>
  
    <!-- Visi贸n -->
    <div class="flex flex-col items-center text-center">
      <i class="fas fa-eye text-4xl mb-4 text-main-blue-dark"></i>
      <h3 class="text-2xl mb-2">Visi贸n</h3>
      <p class="text-base leading-relaxed text-gray-700">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce varius faucibus massa sollicitudin amet augue.
      </p>
    </div>
  
    <!-- Valores -->
    <div class="flex flex-col items-center text-center">
      <i class="fas fa-handshake text-4xl mb-4 text-main-blue-dark"></i>
      <h3 class="text-2xl mb-2">Valores</h3>
      <p class="text-base leading-relaxed text-gray-700">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce varius faucibus massa sollicitudin amet augue.
      </p>
    </div>
  </section>