---
---

<section class="container mx-auto my-12">
    <div class="mb-8">
        <p class="text-sm text-gray-600 mb-1">Nuestra Sucursal</p>
        <h2 class="text-4xl mb-3">Ubicación</h2>
        <p class="text-gray-600">Estamos ubicados en:</p>
    </div>
    
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
        <div class="location-list space-y-12">
            <!-- Santiago -->
            <div class="location-item border-l-4 border-main-blue-dark pl-4">
                <h3 class="text-xl mb-2">Santiago</h3>
                <p class="text-gray-700 mb-3">Autopista Duarte Km 4 1/2. Canabacoa, Santiago</p>
                <a href="https://maps.app.goo.gl/3E9EdURagYtYpfqE7" target="_blank" class="text-main-blue-dark hover:underline font-medium">View Map</a>
            </div>
            
        </div>
        
        <div class="map-container bg-gray-200 rounded-md overflow-hidden h-[500] flex items-center justify-center">
            <div class="text-center">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4659.232233336983!2d-70.65630362403608!3d19.427059440856425!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8eb1cf930575a643%3A0xc7a8113b5959b05e!2sJMS%20Terminaci%C3%B3n%20de%20la%20construcci%C3%B3n!5e1!3m2!1ses-419!2sdo!4v1746121028864!5m2!1ses-419!2sdo" 
                width="750" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>                
            </div>
        </div>
    </div>
</section>