---
import { Image } from 'astro:assets';
---

<section class="flex flex-col md:flex-row items-center gap-8">
    <!-- Lado izquierdo: Texto -->
    <div class="flex-1">
      <h2 class="text-3xl mb-4">JMS Terminación de la Construcción</h2>
      <p class="text-base leading-relaxed text-gray-700">
        Somos una empresa dedicada a la venta de artículos ferreteros del área de terminación del sector construcción llámese porcelanatos y cerámicas de pisos, paredes e interiores, mobiliarios de baños ya sea inodoro, bañeras, jacuzzi y más. De igual manera ofrecemos la venta de ladrillos, coralina y piedra cortada.
      </p>
      <p class="text-base leading-relaxed text-gray-700 mt-4">
        JMS es más que eso, pues como empresa te brindamos asesorías para crear espacios armoniosos según tu necesidad, te medimos tus ventanas y vidrios al mejor precio del mercado con la venta e instalación de los mismos.
      </p>
    </div>
  
    <!-- Lado derecho: Imagen -->
    <div class="flex-1">
      <Image
        src="/img/logo/logo.webp"
        alt="Logo de JMS"
        class="w-full h-auto max-w-md mx-auto mt-4"
        width={600}
        height={400}  
        >
    </div>
  </section>