---
---

<section class="relative h-96 w-full flex">
  <img 
    src="/img/hero/about-banner.jpg" 
    alt="Imagen de nosotros" 
    class="absolute inset-0 w-full h-full object-cover"
  />
  <div class="absolute inset-0 flex flex-col items-center justify-center text-center text-white bg-gradient-to-b from-black/40 via-black/30 to-black/50 p-4">
    <h1 class="text-4xl font-bold mb-2">Haz de tu espacio un reflejo de ti</h1>
    <p class="text-sm">
      Nos dedicamos a ofrecer soluciones únicas que transforman ideas en realidades, impulsando el éxito de nuestros clientes.
    </p>
  </div>
</section>